html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(../img/backgr.png);
    margin: 0;
    width: 100%;
    height: 100%;
}

input, textarea, span, p, a, button, section, main, body, html {
    font-family: "Segoe Print";
}

main {
    width: 100%;
    height: 100%;
}

section {
    display: block;
    float: left;
}

span {
    font-weight: lighter;
    color: white;
}

p, a {
    color: #ffff81;
    text-decoration-line: none;
}

input {
    display: block;
    height: 35px;
    width: 300px;
    font-weight: normal;
    font-size: medium;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    margin: auto;
}

th, td {
    color: white;
    border: deepskyblue ridge 4px;
    border-collapse: collapse;
}

.canvasBlock {
    display: block;
    position: absolute;
    left: 25%;
    width: 70%;
    height: calc(100% - 8px);
}

.infoBlock {
    display: block;
    position: absolute;
    height: 100%;
    width: 27%;
    left: 73%;
    margin: auto;
}

.socialBlock {
    position: absolute;
    top: 0;
    left: 0;
    width: 24%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.partyList {
    background-image: url(../img/backgr.png);
    position: absolute;
    display: none;
    top: 44px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 100;
}

.partyContainer {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-bottom: deepskyblue ridge 1px;
}

.sliderPartyList {
    position: relative;
    width: 100%;
}

.startPrivateBtn {
    position: absolute;
    bottom: 5%;
    left: 20%;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    color: white;
    background-color: #6894ff;
}

.playersList {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-bottom: deepskyblue ridge 1px;
    z-index: 0;
}

.exitFromPartyBtn, .returnBtn {
    float: right;
    padding: 0;
    border: 0;
    margin-left: 5px;
}

.exitFromPartyBtn {
    width: 20px;
    color: white;
    background-color: #db0000;;
}

.exitFromPartyBtn:hover {
    cursor: pointer;
    background-color: #ff0000;
}

.returnBtn {
    width: 100px;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    color: white;
    background-color: #6894ff;
}


.sliderList {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

.slider-item {
    position: relative;
    height: 40px;
    border: deepskyblue ridge 1px ;
    margin: 0;
    padding-left: 1px;
    text-overflow: ellipsis;
}

.nickPlayer {
    float: left;
    max-width: 90%;
    margin: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inviteToPartyBtn {
    float: right;
    margin-top: 2px;
    border: 0;
    background-color: green;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
}
.inviteToPartyBtn:hover {
    cursor: pointer;
}
.playersOnlineStr {
    margin: 8px 0 8px 0;
    text-decoration-line: underline;
}

.chat {
    position: relative;
    width: 100%;
    height: 50%;
}

.notifications {
    background-color: gray;
    position: absolute;
    display: none;
    top: 13%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 0 0 5px 2px;
}

.notificationBtn {
    padding: 0;
    width: 47%;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    color: white;
    display: inline-block;
}

.agreeInviteBtn {
    background-color: #00db00;
}
.agreeInviteBtn:hover {
    cursor: pointer;
    background-color: #00ff00;
}
.disagreeInviteBtn {
    background-color: #db0000;
}
.disagreeInviteBtn:hover {
    cursor: pointer;
    background-color: #ff0000;
}
.playersName {
    color: #ffff81;
}

.chatWindow {
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-bottom: 50px;

}

.messagesBlock {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70%;
    background-color: lightgray;
    border: deepskyblue ridge 1px ;
    margin-bottom: 4px;
}

.messagesList {
    position: relative;
    width: 100%;
}

.messagesList-item {
    position: relative;
    height: max-content;
    margin: 0;
    padding-left: 1px;
    word-wrap: break-spaces;
}

.textMsg {
    width: 73%;
    height: 35px;
    resize: none;
}

.sendMsgBtn {
    position: absolute;
    width: 25%;
    height: 40px;
    padding: 0;
    margin-left: 1%;
    color: #ffffff;
    background-color: #6894ff;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.btnsBlock {
    width: 100%;
    height: 12%;
}

.gameInfoBlock {
    height: 30%;
    width: 100%;
}

.recordsBlock {
    height: 70%;
    width: 100%;
}

.records {
    display: none;
    margin-top: 5px;
    border: deepskyblue ridge 4px;
    border-collapse: collapse;
}

.posRec, .record{
    width: 50px;
}

.nickRec {
    width: 310px;
    text-align: center;
}

.disagree-btn, .agree-btn, .showRecordsBtn {
    margin: 5px auto;
    width: 48%;
    border: deepskyblue ridge 2px;
    border-radius: 10px;
    color: white;
    background-color: #6894ff;
    display: inline-block;
}

.showRecordsBtn {
    margin: 0;
    height: 90%;
    line-height: 1.5;
    word-spacing: 2pt;
}

.startBtn:hover, .disagree-btn:hover, .agree-btn:hover, .regBtn:hover, .showRecordsBtn:hover, .sendMsgBtn:hover, .returnBtn:hover, .startPrivateBtn:hover {
    cursor: pointer;
    background-color: #689fff;
}

.canvas {
    border: deepskyblue ridge 4px;
}

.name {
    border-bottom: #ffff81 solid 1px;
    text-align: center;
    font-size: larger;
}

.loseBlock {
    margin-top: 10%;
    display: none;
    float: unset;
}

.loseString {
    word-wrap: break-spaces;
}

.score-line {
    width: 100%;
}

.scoreBlock {
    float: unset;
    width: 100%;
}

.exitBtn {
    height: 26px;
    padding-top: 0;
    border-top: 1px;
    margin-right: 15px;
    float: right;
    background-color: #db0000;
    color: white;
    border-color: #db0000;
}

.exitBtn:hover {
    cursor: pointer;
    background-color: #ff0000;
    border-color: #ff0000
}

.newColor, .newNick {
    width: 100px;
}

